:root {
  --color-1: #101828;
  --color-2: #475467;
  --color-3: #6C717B;
  --color-4: #E44848;
  --color-5: #D84343;
  --color-6: #FFC531;
  --color-7: #DADDE1;
  --color-8: #F2F4F7;
  --color-9: #F7F7F7;
  --color-10: #FFFFFF;
}
