:root {
  --color-1: #101828;
  --color-2: #475467;
  --color-3: #6C717B;
  --color-4: #E44848;
  --color-5: #D84343;
  --color-6: #FFC531;
  --color-7: #DADDE1;
  --color-8: #F2F4F7;
  --color-9: #F7F7F7;
  --color-10: #FFFFFF;

  --camper-item-header-font-size: 24px;
  --camper-item-header-line-height: 32px;
  --camper-item-header-font-weight: 600;
  --general-font-family: Inter, sans-serif;

  --details-navigation-font-size: 20px;
  --details-navigation-line-height: 24px;
  --details-navigation-font-weight: 600;

  --advertisement-1-font-size: 48px;
  --advertisement-1-line-height: 32px;
  --advertisement-1-font-weight: 600;
}


