.camper_item {
  border: var(--color-7) 1px solid;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding: 24px;
  margin: 0px;
}

.details_container{
  display: flex;
  row-gap: 24px;
  flex-direction: column;
}

.details_container_header {
  display: flex;
  justify-content: space-between;
}

.details_container_header_price {
  display: flex;
  gap: 12px;
  flex-direction: row;
  align-items: center;
}

.details_container_raiting{
  display: flex;
  gap: 16px;
  flex-direction: row;
  align-items: center;
}

.price,
.camper_name {
  font-size: var(--camper-item-header-font-size);
  line-height: var(--camper-item-header-line-height);
  font-weight: var(--camper-item-header-font-weight);
  font-family: Inter, sans-serif;
}

.camper_photo {
  height: 320px;
  width: 292px;
  object-fit: cover;
  object-position: 50%;
  border-radius: 10px;
}
